body {
  background-color: #282c34;
  padding: 20px;
}

.App {
  text-align: center;
  color: #fff;

  &__task {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 900px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
  }
}
.task-name {
  text-align: left;
  width: 40%;
  margin-bottom: 20px;
}

input[type="text"] {
  flex-grow: 1;
  height: 30px;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
}

.todo-list {
  width: 400px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
  text-align: left;
}

.todo-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-input button {
  height: 44px;
  width: 60px;
  margin-left: 10px;
  padding: 0 10px;
  border: none;
  background-color: #00a8ff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.todo-input button:hover {
  background-color: #0077b6;
}

.items-list {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


.item-text {
  flex-grow: 1;
  font-size: 18px;
  margin-left: 10px;
}


.child-btn{
  padding: 10px;
  width: 100px;
  border-radius: 4px;
}
