body {
  background-color: #282c34;
  padding: 20px;
}

.App {
  text-align: center;
  color: #fff;

  &__task {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 900px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
  }
}

.task-name {
  text-align: left;
  width: 40%;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;

  &__input{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
  }

  &__btn{
    background: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

}
