body {
  background-color: #282c34;
  padding: 20px;
}

.App {
  text-align: center;
  color: #fff;

  &__task {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 900px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
  }
}

.task-name {
  text-align: left;
  width: 40%;
  margin-bottom: 20px;
}

.user-list {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.user-data {
  text-align: left;
  background-color: white;
  color: #000;
  padding: 0 10px;
  display: inline-block;
  width: 50%;
  height: 60%;
  margin-top: 20px;
}

.user-name {
  text-align: left;
}

button {
  background: white;
  border: 2px solid transparent;
  text-align: center;
  font-size: 22px;
  border-radius: 15px;
  padding: 10px 25px;
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.05s ease-in-out;
  margin-bottom: 20px;


  &.minus {
    background-color: #e63946;
    color: #fff;
    box-shadow: 0 4px 0 darken(#e63946, 10%);
    border: 1px solid darken(#e63946, 15%);
  }

  &.plus {
    background-color: #2a9d8f;
    color: #fff;
    box-shadow: 0 4px 0 darken(#2a9d8f, 10%);
    border: 1px solid darken(#2a9d8f, 15%);
  }

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: none;
  }
}