.App {
  text-align: center;
  background-color: #282c34;
  color: #fff;

  &__task {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
  }
}

.task-name{
  text-align: left;
  width: 40%;
  margin-bottom: 20px;
}

.task3{
  color: red;
}



